* {
	background: linear-gradient(to bottom, #3498db, #ffffff);
	margin: 5px;
	padding: 10px;
	box-sizing: border-box;
}
body {
	background-blend-mode: color-burn, black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 12px;
	/* font-family: kumar one outline; */
}
header {
	margin-left:50px;
	align-content:center;
	padding:inherit;
	background-color:aliceblue;
	border:medium;	
	overflow:visible;
}
h1 {
	margin-left: 125px;
	margin-top: 125px;
	padding-top: 15px;
}
.navbar {
	/* display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* end of added */
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background-color:#C6F1F3;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}
.navbar button {
	margin-left: 50px;
	font-family: Cochin, Didot, "Didot Bold", "SignPainter-HouseScript", "SignPainter-HouseScript Semibold", Osaka;
	font-size: 2em;
	color:#9ACFFC;
}
.navbar a:hover {
	background-color: #ddd;
	color: black;
}
.navbar a.active {
	background-color: #04aa6d;
	color: white;
}
.navbar .icon {
	display: none;
}
.container {
	text-size: 24px;
	margin-top:10px;
	margin-left: 5px;
	padding: 30px;
	align-text: auto;
	font-family: Kumar One Outline;
	background-color: aliceblue;
	border-radius: 85%;
	box-shadow: 70px 40px 90px rgba(0, 0, 0.2);
	width: 800px;
	height: 500px;
	position: relative;
}
aside {
	object-position:left;
	margin-top:125px;
	padding: 50px;
	font-family:"American Typewriter";
	font-size: 1em;
}
.home {
	background-position: bottom;
	align-content: flex-end;
}
.gallery {
	margin: 15px;
	padding-top: 25px;
}
.image-container {
	margin-top:10px;
	padding: 15px;
	float: inherit;
	align-items: flex-start;
}
.image {
	margin:25px;
    width: 85%;
    height: 400pt;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 10 10 10px 0 rgba(0, 0, 0, 0.2);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
	margin-top: 1px;
	margin-bottom: 5px;
    padding: 1px;
   position: fixed; 
    bottom: 5%;
	height: 5%;
    width: 100%;
	font-size: 3em;
}
@media screen and (max-width: 320px) {
	.navbar a:not(:first-child) {display:none;}
	.navbar a.icon {
		float: right;
		display: block;
	}
* {
	float: inherit;
}
.container {
	float: inherit;
}
.gallery {
	align-items: center;
}
.image-container {
	float: inherit;
}
.image {
	position: relative;
}
.image img {
	position:relative;
}
}
@media screen and (max-width: 600px) {
	.navbar a:not(:first-child) {display:none;}
	.navbar a.icon {
		float: right;
		display: block;
	}
* {
	float: inherit;
}
.container {
	float: inherit;
}
.gallery {
	align-items: center;
}
.image-container {
	float: inherit;
}
.image {
	position: relative;
}
.image img {
	position:relative;
}
}
@media screen and (max-width: 600px) {
	.navbar.responsive a.icon {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	* {
	float: inherit;
}
.container {
	float: inherit;
}
.gallery {
	align-items: center;
}
.image-container {
	float: inherit;
}
.image {
	position: relative;
}
.image img {
	position:relative;
}
}
@media screen and (max-width: 768px) {
	body {
		font-size: 14px;
		margin: 10px;
	}
	.container header h1 {
		font-size: 12px;
		margin: 10px;
	}
	* {
	float: inherit;
}
.container {
	float: inherit;
}
.gallery {
	align-items: center;
}
.image-container {
	float: inherit;
}
.image {
	position: relative;
}
.image img {
	position:relative;
}
}
