body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
h1 {
	font-family: "Sofia", sans-serif;
	font-weight: 1100;
}
.navbar a {
	font-size: 15px;
	color:#98D0EB;
	text-decoration: none;
	font-weight: 400;
	margin-left: 35px;
	letter-spacing: 1px;
	transition: .3s;
	justify-content: space-between;
}

.navbar a:hover,
.navbar active  {
	justify-content: space-between;
	color: #00abf0;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #3498db, #2ecc71, #e74c3c, #9b59b6);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
header {
	font-family: "Sofia", sans-serif;
	font-size: 18px;
    margin: 0;
    padding: 0;
	margin-left: 250px;
	align-content: center;
}
.container {
	margin-left: 129px;
	margin-top: 25pt;
	padding: 75px;
	text-size: 2em;
	background-color: #fff;
	border-radius: 85%;
	width: 1000px;
	height: 750px;
	box-shadow: 70px 40px 90px rgba(0, 0, 0.2);
	position: sticky;
	
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.bubble-nav {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.bubble {
    width: 50px;
    height: 50px;
    background-color: #ecf0f1;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.bubble:hover {
    transform: scale(1.1);
}
.name p {
	font-family: "georgia", serif;
}
.home {
	background-position: bottom;
	align-content: flex-end;
	font-family: "Cambria", sans-serif;
	color: navy;
}
.home h2 {
	text-decoration: underline;
}
.section {
    padding: 100px;
    text-align: center;
    color: white;
    font-size: 24px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
	margin-top: 1px;
	margin-bottom: 5px;
    padding: 1px;
   position: fixed; 
    bottom: 5%;
	height: 5%;
    width: 100%;
	font-size: 1em;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
	header {
	padding: 15px 0;
	}
	nav ul li {
		margin: 0 10px;
	}
	section {
		padding: 30px;
	}
	.container {
		margin: 0 10px;
	}
	.gallery {
	/*	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
		margin: 15px;
		padding: 10px;
	}
	.image {
		height: 150px;
	}
	form {
		max-width: 300px;
	}
    .bubble-nav {
        bottom: 10px;
    }

    .bubble {
        width: 40px;
        height: 40px;
        margin: 0 8px;
    }

    .section {
        padding: 50px;
    }
}

@media screen and (max-width: 600px) {
	 header {
		padding: 15px 0;
	}
	nav ul li {
		margin: 0 10px;
	}
	section {
		padding: 30px;
	}
	}
	.gallery {
	/*	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
		margin: 15px;
		padding: 10px;
	}
	.image {
		height: 150px;
	}
	form {
		max-width: 300px;
	}
    .bubble-nav {
        bottom: 10px;
    }

    .bubble {
        width: 40px;
        height: 40px;
        margin: 0 8px;
    }

    .section {
        padding: 50px;
    }
}
@media screen and (max-width: 480px) {
    .bubble {
        width: 30px;
        height: 30px;
        margin: 0 6px;
    }

    .section {
        padding: 30px;
        font-size: 18px;
    }
}
