@charset "UTF-8";
/* $total: 144;  */
$time: 4;
$height: 400;
$percent: .69444%;
$dotSize: .9;

* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	background: black;
	overflow: hidden;
}

.navbar a {
	font-size: 24px;
	color:#FC0004;
	text-decoration: underline;
	font-weight: 400;
	margin-left: 35px;
	letter-spacing: 1px;
	transition: .3s;
	justify-content: space-between;
	caret-color: darkorange;
}

.navbar a:hover,
.navbar active  {
	justify-content: space-between;
	color: #00abf0;
}
.home-content {
	align-content: center;
	object-position:top;
	background-blend-mode: color;
	backface-visibility: visible;
	visibility: visible;
	font-family: "nosifer";
	color: white;
	text-size: 24px;
}
.wrap {
	position: relative;
	height: 100%;
}
.c {
	position: fixed;
	align-content: center;
	height: 100%;
	width: 90%;
	margin-top: 10px;
	padding: 10px;
	animation: drop 30s infinite ease-in;
	animation-direction: reverse;
	color: white;
	opacity: 40%;
	object-position: 50%;
	background-repeat: repeat;
}
.c:after {
	content: "";
	position: absolute;
	width: .3vw;
	height: .3vw;
	border-radius: 100%;
		left: 100%;
	bottom: -.15vw;
	margin-left: -.15vw;
}
.c:nth-child(1) {
	left: 0%;
	background-image: linear-gradient(to bottom, black, rgba(255, 9, 0, 0.8));
	animation-delay: -0.3888888889s;
	opacity: 50%;

	} 
.c:nth-child(1):after {
	background:#f1171b;
}
@keyframes drop {
		80% {
			opacity: 1;
		}
		100% {
			transform: translate3d(0, 150vh, 0);
			opacity: 0;
		}
	}
.c:nth-child(2) {
	left: 0.6944%;
	background-image: linear-gradient(to bottom, black, rgba(255, 18, 0, 0.8));
	animation-delay: -3.5277777778s;
}
.c:nth-child(2):after {
		background: #17f1dd;
	}

	@keyframes drop {
		80% {
			opacity: 1;
		}
		100% {
			transform: translate3d(0, 150vh, 0);
			opacity: 0;
		}
}