body {
    font-family: "Sofia", sans-serif;
	font-size: 18px;
    margin: 10px;
    padding: 0;
    background: linear-gradient(to bottom, #ff9966, #ff5e62);
}
button {
	font-family:"palatino";
	font-size: 1em;
	color: gray;
	margin: 30px;
	padding: 15px;
	align-content: center;
	background-color: bisque;
	border:dashed;
}

.navbar a {
	font-size: 15px;
	color:#98D0EB;
	text-decoration: none;
	font-weight: 800;
	margin-left: 35px;
	letter-spacing: 1px;
	transition: .3s;
	justify-content: space-between;
}

.navbar a:hover,
.navbar active  {
	justify-content: space-between;
	color: #00abf0;
}
.home {
	border: thick;
	box-shadow: 2px 30px 50px rgba(0, 0, 0, 1);
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
h1 {
	font-size: 44px;
	text-decoration:underline;
}
.title {
	margin: 2px;
	padding: 4px;
	font-size: 40px;
}
.title p {
	font-size: 28px;
	font-style: oblique;
	text-decoration: underline;
}

.navbar a {
	font-size: 22px;
	color:#AE2700;
	text-decoration: underline;
	border:medium white;
	font-weight: 700;
	margin-left: 35px;
	letter-spacing: 1px;
	transition: .3s;
	justify-content: space-between;
}

.navbar a:hover,
.navbar active  {
	justify-content: space-between;
	color: #00abf0;
}
.home h2 {
	font-size: 44px;
	text-decoration: underline;
}
section {
	margin: 20pt;
    padding: 50px;
    text-align: center;
}

.gallery {
    display: grid;
	/*grid-template-columns: ((repeat, auto-fill), minmax(200px, 1fr)); */
    max-width: 800px;
    margin-bottom: 15px;
	padding: inherit;
	box-shadow: 2px 30px 50px rgba(0, 0, 0, 1);
}

.image {
	margin:25px;
    width: 85%;
    height: 400pt;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 10 10 10px 0 rgba(0, 0, 0, 0.2);
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
/*added */
form {
	border:thick;
    max-width: 400px;
    margin: 0 auto;
}

.form-container {
	padding: 10px;
	border: 5px solid #ccc;
	outline: 5px solid black;
	border-radius:18px;
	box-shadow: 2px 30px 50px rgba(0, 0, 0, 1);
}
.contact-container {
	margin: 2px;
}
.contact-container h2 {
	text-align: center;
	margin-bottom:15px;
	font-family: 'Palatino Linotype', Palatino, 'Century Schoolbook L', 'Times New Roman', 'serif';
	text-decoration: underline;
	text-shadow: 15%;
	color:darkblue;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
	margin-top: 1px;
	margin-bottom: 5px;
    padding: 1px;
   position: float; 
    bottom: 5%;
	height: 5%;
    width: 100%;
	font-size: 3em;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768) {
	header {
		padding: 15px 0;
	}
	nav ul li {
		margin: 0 10px;
	}
	section {
		padding: 30px;
	}
	.gallery {
		/* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
		/* gap: 15px; */
		margin: 10pt;
		padding: 10px;
		width: auto;
	}
	.image {
		height: 150px;
	}
	form {
		max-width: 300px;
	}
}
