@charset "UTF-8";
body {
	background-image: url("../../Accessibility/untitled folder/background.jpg");
	background-size: 50%;
	background-position: center;
	/* background-repeat: no-repeat; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 10;
}

header {
	margin-left: 250px;
	align-content: center;
	padding: inherit;
	/* display: flex; */
}

nav {
	margin-left: 200px;
	padding: inherit;
	font-family:Cochin, Didot, "Didot Bold", "SignPainter-HouseScript", "SignPainter-HouseScript Semibold";
	font-style: italic;
	font-weight:300;
	font-size: 1em;
}
.container {
	background-color: #fff;
	border-radius: 85%;
	width: 800px;
	height: 500px;
	box-shadow: 70px 40px 90px rgba(0, 0, 0.2);
}
.thumbnail-row {
	display: flex;
	justify-content: space-around;
}
.thumbnail {
	text-align: center;
}
.thumbnail-image {
	max-width: 100%;
}
.thumbnail-link {
	text-decoration: none;
	color: #333;
}